/***** Overall styling *****/

html {
    min-height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2ch;
    word-spacing: 0.7ch; /* 3.5x letter-spacing */
    height: 100%;
    background-color: rgb(247, 244, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px 40px;
}

main {
    text-align: left;
    width: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px 40px;
}

footer {    
    text-align: left;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px 40px;
}

nav {
    width: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 20px 40px;
}

h1 {
    font-size: 28pt;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 20pt;
}

p, div {
    line-height: 1.5;
    font-size: 18pt;
}

/***** Navigation button styling *****/

nav .container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-button {
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    margin: 5px;
    box-sizing: border-box;
}

.nav-button:hover, .bigHomeButton:hover{
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

#home-button{
    background-color: #87cefa;
    border: 1px solid #87cefa;
}

#learn-button{
    background-color: #6ff36f;
    border: 1px solid #6ff36f;
}

#quiz-button{
    background-color: #ae52fa;
    border: 1px solid #ae52fa;
}

#settings-button{
    background-color: #ffa500;
    border: 1px solid #ffa500;
}

#tutorial-button {
    background-color: #ffff00;
    border: 1px solid #ffff00;
}

#glossary-button{
    background-color: #f15252;
    border: 1px solid #f15252;
}

/***** Main element styling *****/

main .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
}


/***** Home page styling *****/

.homePageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px auto;
    width: 50%;
}

.bigHomeButton {
    height: 200px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.bigHomeButton img {
    width: 100px;
    margin-bottom: 10px;
}

/***** Settings pages styling *****/
#settingsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#colourContainer, #typefaceContainer, #navigationOptionsContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.colourBlock, .typefaceBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
}

.navOptionContainer {
    height: 100px;;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
}

.colourBlock:hover, .typefaceBlock:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

/***** Tutorial pages styling *****/

#tutorialContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
}

#tutorialImageContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    margin-right: 30px;
    box-sizing: border-box;
    padding: 10px;
}

#tutorialTextContainer {
    padding: 5px;
}

#tutorialContainer img {
    width: 150px;
}

#nextButtonImageContainer:hover, #backButtonImageContainer:hover {
    cursor: pointer;
}

/***** Progress styling *****/

#progressContainer, #gradeTopicsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px auto;
    width: 50%;
}

.availableGradeBlock, .availableTopicBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-size: 20pt;
    background-color: #6ff36f;
}

.availableGradeBlock:hover, .availableTopicBlock:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}


.unavailableGradeBlock, .unavailableTopicBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-size: 20pt;
    background-color: lightgrey;
}

/***** Content styling *****/

/*** Information ***/
#informationImagesContainer {
    display: grid;
    border: 1px solid darkgrey;
    border-radius: 15px;
    height: 150px;
    width: 75%;
    margin: 20px auto;
}

.informationImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}

.informationImage {
    height: 80px;
}

#informationTextContainer {
    width: 75%;
    margin: 20px auto;
}


/*** Questions ***/
#questionImagesContainer {
    display: grid;
    gap: 20px;
    height: 150px;
    width: 75%;
    margin: 20px auto;
}

.questionImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    border: 1px solid darkgrey;
    border-radius: 15px;
}

.questionImage {
    height: 80px;
}

.questionImageContainer:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

#questionTextContainer {
    width: 75%;
    margin: 20px auto;
}

/***** Media queries *****/

@media screen and (max-width: 1000px) {
    nav .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .homePageContainer {
        width: 75%;
    }
}

@media screen and (max-width: 560px){
    nav .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .homePageContainer {
        width: 100%;
    }
    .tutorialContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    #colourContainer, #typefaceContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}