body {
    font-family: Verdana, sans-serif;
    letter-spacing: 0.12ch;
    word-spacing: 0.42ch; /* 3.5x letter-spacing */
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 10px;
}

main, footer {
    text-align: left;
    width: 100%;
    max-width: 1000px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 10px;
}

nav {
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

h1 {
    font-size: 24pt;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 20pt;
}

p, div {
    line-height: 1.5;
    font-size: 16pt;
}

/* .container {
    margin: 0 auto;
} */

/* Navigation button styling */

nav .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-button {
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    margin: 5px;
    box-sizing: border-box;
}

.nav-button:hover, .bigHomeButton:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

#home-button{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

#learn-button, #newUserLearnButton, #existingUserLearnButton{
    background-color: rgb(111, 243, 111);
    border: 1px solid rgb(111, 243, 111);
}

#test-button{
    background-color: rgb(174, 82, 250);
    border: 1px solid rgb(174, 82, 250);
}

#settings-button{
    background-color: orange;
    border: 1px solid orange;
}

#tutorial-button, #newUserTutorialButton {
    background-color: yellow;
    border: 1px solid yellow;
}

#glossary-button{
    background-color: rgb(241, 82, 82);
    border: 1px solid rgb(241, 82, 82);
}

/* Main element styling */

main .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
}

.newUserContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.bigHomeButton {
    height: 200px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;     /* Center horizontally */
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.bigHomeButton img {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 10px; /* Adds space between image and text */
}

.existingUserContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.tutorial-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 750px) {
    nav .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 560px){
    nav .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .newUserContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-button div span {
        font-size: 14pt !important;
    }
}