/***** Overall styling *****/

@font-face {
    font-family: 'OpenDyslexic';
    src: url('Fonts/OpenDyslexic/OpenDyslexic-Regular.eot'),
         url('Fonts/OpenDyslexic/OpenDyslexic-Regular.woff2') format('woff2'), 
         url('Fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff'), 
         url('Fonts/OpenDyslexic/OpenDyslexic3-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('Fonts/OpenSans/OpenSans-Regular.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ComicSans;
    src: url('Fonts/ComicSans/Comic\ Sans\ MS\ 400.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
}

body {
    word-spacing: 0.7ch; /* 3.5 x letter spacing */
    height: 100%;
    background-color: #e6f7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

body emph {
    font-weight: bold;
}

header, main, footer, nav {
    width: 100%;
    max-width: 1300px;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

header {
    text-align: center;
    height: 70%;
}

main {
    text-align: left;
}

footer {    
    text-align: left;
    display: flex;
    justify-content: flex-end;
    height: 120px;
}

h1 {
    font-size: 1.6em;
    width: 100%;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 1.1em;
}

p, div {
    line-height: 1.5;
}

/***** Navigation button styling *****/

nav .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 5px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.nav-button {
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: border-box;
}

.nav-button:hover, .bigHomeButton:hover {
    border: 3px solid darkgrey !important;
    cursor: pointer;
}

#home-button {
    background-color: #87cefa;
    border: 0 solid #87cefa;
}

#learn-button {
    background-color: #6ff36f;
    border: 0 solid #6ff36f;
}

#quiz-button {
    background-color: #ae52fa;
    border: 0 solid #ae52fa;
}

#settings-button {
    background-color: #ffa500;
    border: 0 solid #ffa500;
}

#tour-button {
    background-color: #ffff00;
    border: 0 solid #ffff00;
}

#glossary-button {
    background-color: #f15252;
    border: 0 solid #f15252;
}

#about-button {
    background-color: #f352de;
    border: 0 solid #f352de;
}

/***** Main element styling *****/

main .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
}

/***** Home page styling *****/

.homePageContainer, .noQuizContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    width: 50%;
    height: 400px;
}

.noQuizTextContainer, .homePageTextContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    width: 75%;
    overflow-y: auto;
    scrollbar-gutter: auto;
}

.bigHomeButton {
    height: 200px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.bigHomeButton img {
    width: 100px;
    margin-bottom: 10px;
}

/***** Settings pages styling *****/
#settingsContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5px 0;
    margin: 20px 0;
    height: 450px;
    overflow-y: auto;
    scrollbar-gutter: auto;
}

#colourContainer, #typefaceContainer, #navigationOptionsContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}

#otherFontContainer, #soundEffectsContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
}

.colourBlock, .typefaceBlock, .fontButton {
    height: 120px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
}

.chosen:hover, .colourBlock:hover, .typefaceBlock:hover, .fontButton:hover {
    border: 3px solid darkgrey !important;
    cursor: pointer;
}

.chosen {
    border: 3px solid #042d6e;
}

.navOptionContainer {
    height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
}

#rhythmButtonContainer {
    padding: 10px 0;
}

#rightAnswerButton, #wrongAnswerButton, #rhythmButton {
    background-color: #2c6109;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#rhythmButton {
    width: 50%;
}

#rightAnswerButton:hover, #wrongAnswerButton:hover, #rhythmButton:hover {
    background-color: #163104;
}

input[type="checkbox"] {
    width: 2.2em;
    height: 3rem;
    accent-color: rgb(0, 9, 128);
    padding: 10px 15px;
  }
  

/***** Tour pages styling *****/

#tourContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0;
    height: 600px;
}

#tourImageContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 10px;
    height: 60%;
}

#tourTextContainer {
    padding: 5px;
    overflow-y: auto;
    scrollbar-gutter: auto;
}

#tourContainer img {
    width: 150px;
}

#nextButtonImageContainer, #backButtonImageContainer {
    height: 100px;
}

#nextButtonImageContainer:hover, #backButtonImageContainer:hover {
    cursor: pointer;
}

/***** Progress styling *****/

#progressContainer, #gradeTopicsContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
    margin: 20px auto;
    width: 50%;
}

.availableGradeBlock, .availableTopicBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 1.2em;
    background-color: #6ff36f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.completedGradeBlock, .completedTopicBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 1.2em;
    background-color: #6ff36f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.availableGradeBlock:hover, .completedGradeBlock:hover, .availableTopicBlock:hover, .completedTopicBlock:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

.unavailableGradeBlock, .unavailableTopicBlock {
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 1.2em;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tooltip {
    visibility: hidden;
    font-size: 0.75em;
}

.unavailableGradeBlock:hover .tooltip, .availableGradeBlock:hover .tooltip, .unavailableTopicBlock:hover .tooltip, .availableTopicBlock:hover .tooltip, .completedGradeBlock:hover .tooltip, .completedTopicBlock:hover .tooltip, .minMaxReached:hover .tooltip {
    visibility: visible;
}

/***** Content styling *****/

/*** Information ***/

#informationImagesContainer {
    display: grid;
    border: 1px solid darkgrey;
    border-radius: 15px;
    box-sizing: border-box;
    height: 150px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}

.informationImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationImage {
    height: 80px;
}

#informationTextContainer {
    width: 80%;
    margin: 20px auto;
}

#progressBar {
    width: 80%;
    background-color: #d5d8d0;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin: 10px auto;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: #489b48;
    border: 0;
    border-radius: 5px;
    transition: width 0.3s ease;
}

/*** Questions ***/

#questionImagesContainer, #quizImagesContainer {
    display: grid;
    gap: 30px;
    height: 150px;
    width: 80%;
    margin: 30px auto;
}

.questionImageContainer, #tryAgainContainer, #helpContainer, .quizImageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
    border-radius: 15px;
}

.questionImage, .quizImage {
    height: 80px;
}

.questionImageContainer:hover, #tryAgainContainer:hover, #helpContainer:hover, .quizImageContainer:hover {
    border: 2px solid darkgrey !important;
    cursor: pointer;
}

#questionTextContainer, #quizTextContainer {
    width: 80%;
    margin: 20px auto;
}

#incorrectAnswerContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    height: 80px;
    width: 75%;
    margin: 30px auto;
}

#quizScoreContainer {
    font-size: 4em;
    text-align: center;
    padding: 10px;
}

#quizScoreLongText {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px auto;
    width: 75%;
    text-align: left;
}

/***** Quiz styling *****/

#informationContainer, #questionContainer, #quizPreambleContainer, #quizContainer, #quizResultContainer {
    height: 650px;
    overflow-y: auto;
    scrollbar-gutter: auto;
}

#quizPreambleContainer {
    height: 100%;
    overflow-y: auto;
    scrollbar-gutter: auto;
}

#quizAllContainer{
    width: 70%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 1.1em;
}

.gradeTopicList {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

#quizAllLabel, .topicLabel {
    padding: 10px 0;
}

#quizTopicSelectContainer {
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

details > summary {
    font-size: 1.1em;
  }


/***** Glossary styling *****/

#glossaryContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

#glossaryContainer hr {
    width: 100%;
    margin: 0;
    border: 1px solid darkslategrey;
}

.glossary-row {
    display: grid;
    grid-template-columns: 20% 10% 60% 10%;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 0;
    width: 95%;
    min-height: 50px;
}

.glossary-row div {
    text-align: left;
    width: 100%;
    padding: 5px;
}

.glossary-row img {
    height: 60px;
    width: auto;
}

.termDiv {
    font-weight: bold;
    font-size: 1.1em;
}


/***** Speech controls styling *****/

.speechButtonsContainer {
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.speechButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.speechButton:hover {
    background-color: #0056b3;
}

.glossary-row .speechButtonsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 100% 0;
    gap: 10px;
    margin: 20 auto;
    align-items: center;
}


/***** Media queries *****/

@media screen and (width <= 1100px) {
    nav .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (width <= 1000px) {
    nav .container {
        grid-template-columns: repeat(3, 1fr);
    }

    #glossaryContainer {
        font-size: 80%;
    }

    .glossary-row img {
        height: 40px;
        width: auto;
    }
}

@media screen and (width <= 700px) {
    .homePageContainer {
        width: 75%;
    }

    #tourContainer {
        height: 700px;
    }

    #glossaryContainer {
        font-size: 65%;
    }

    .glossary-row img {
        height: 30px;
        width: auto;
    }
}

@media screen and (width <= 560px) {
    nav .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .homePageContainer {
        width: 100%;
    }

    #tourContainer {
        grid-template-columns: 1fr;
    }

    #informationContainer, #questionContainer, #quizContainer {
        height: 800px;
    }

    #questionImagesContainer, #quizImagesContainer {
        grid-template-columns: 1fr !important;
        height: 400px;
    }

    #colourContainer, #typefaceContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .completedGradeBlock, .completedTopicBlock, .availableGradeBlock, .availableTopicBlock, .unavailableGradeBlock, .unavailableTopicBlock {
        font-size: 0.8em;
        height: 150px;
    }

    #glossaryContainer {
        font-size: 50%;
    }

    .glossary-row {
        grid-template-columns: 10% 10% 80%;
        overflow-wrap: break-word;
    }

    .glossary-row img {
        height: 30px;
        width: auto;
    }
}

@media screen and (width <= 400px) {
    #tourContainer {
        height: 1000px;
    }
}
